@media only screen and (max-width: 600px) {
  
    .rows-container-grid{

        max-height: 90%;
        min-width: 100%;
    }
}


.rows-container-grid{

    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.game-over-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    color: white;
    

}