@media only screen and (max-width: 600px) {
  
    .player-ranks-container{


        width: 80% !important;
    }

    .player-rank-row{

        
    }

}


.ranking-main-container{
    
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    gap: 20px;
    padding: 0;
}

.player-ranks-container{
    
    height: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 60%;
    border: 2px solid #ffffff;
    background: linear-gradient(to top, #a1c4fd, #00aeff);
    overflow: scroll;
    border-radius: 12px;
    padding: 20px;
    color: #0a2e6e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-rank-row{

    display: flex;
    color: rgb(255, 255, 255);
    font-size: 1.9em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    justify-content: space-around;
    height: auto;
    width: 90%;
    align-items: center;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
    border-radius: 10px;
}

.player-rank-row:hover{

  background-color: #50bcff; 
  cursor: pointer;
}

.ranking-title{

    color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    font-size: 3em;
    border: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}